#navbar {
    border-bottom: var(--border-gray);
    background-color: white;
    padding: 10px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav-home {
    font-family: Quicksand, sans-serif;
    font-size: 30px;
    flex-grow: 1;
    cursor: pointer;
}

.nav-search-form {
    display: inline-block;
}

.nav-search {
    flex-grow: 8;
    text-align: center;
}

#nav-search-bar {
    font-size: 16px;
    padding: 10px;
    width: 60%;
    height: 100%;
    border-radius: 10px;
    background-image: url('images/search.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
    padding-left: 40px;
    background-color: var(--lighter-gray);
    border: 0;
}

.nav-user {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    border: solid 1px transparent;
}

/* DROPDOWN */
.nav-user {
    overflow: hidden;
    float: left;
}

.nav-user:hover {
    border: solid 1px var(--light-gray);
}

#dropdown-container {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    z-index: 1;
}

#dropdown-container.show {
    display: block; 
}

#dropdown-container a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: inherit;
}

#dropdown-container a:hover {
    background-color: #ddd;
}