<script src="/static/js/create_post.js"></script>
<link rel="stylesheet" href="/static/css/create_post.css">
{{> navbar}}
<div id="create-post-container">
    <form id="create-post-form">
        <fieldset>
            <legend>Create a post</legend>
            <input type="text" id="title" name="title" placeholder="Title">
            <br>
            <textarea id="body" name="body" placeholder="Text (optional)"></textarea>
            <br>
            <button id="post">Post</button>
        </fieldset>
    </form>
</div>