<script src="/static/js/login.js"></script>
<link rel="stylesheet" href="/static/css/auth.css">
<div id="login-container">
    <div id="login-title" class="bold">LOG IN</div>
    <form id="login-form">
        <label for="username">Username:</label>
        <br>
        <input type="text" id="username" name="username">
        <br><br>
        <label for="password">Password:</label>
        <br>
        <input type="password" id="password" name="password">
        <br><br>
        <button id="submit">Submit</button>
    </form>
    <br>
    <span id="register-prompt">New to Redidit? <a href="/register" id="register-link">SIGN UP</a></span>
    <br>
    <span id="home-prompt">Back to <a href="/" id="home-link">HOME</a></span>
</div>