<div class="comment"> 
    <div class="post-info light">
        Posted by <span class="post-username">{{user.username}}</span> on {{date}}
    </div>
    <div class="comment-body">{{body}}</div>
    <div class="post-vote-bar">
        {{> vote}}
    </div>
</div>