<div class="comment" id="{{_id}}"> 
    <div class="post-info light">
        Posted by <span class="post-username">{{user.username}}</span> on {{date}}
    </div>
    <div class="comment-body">{{body}}</div>
    <div class="post-vote-bar">
        {{> vote}}
        <button class="reply">Reply</button>
        {{> reply_prompt}}
    </div>
    {{#if comments}}
    {{#each comments}}
    {{> comment this}}
    {{/each}}
    {{/if}}
</div>