<script src="/static/js/nav.js"></script>
<link rel="stylesheet" href="/static/css/navbar.css">
<nav id="navbar">
    <span class="nav-home bold">redidit</span>
    <span class="nav-search">
        <form id="nav-search-form">
            <input id="nav-search-bar" type="search" placeholder="Search Redidit">
        </form>
    </span>
    <div class="nav-user">
        <div id="dropbtn">
            {{#if current_user}}
            {{current_user}}
            {{else}}
            Anonymous
            {{/if}}
        </div>
        <div id="dropdown-container">
            {{#if current_user}}
            <a id="dropdown-profile" href="/profile/{{current_user}}">View Profile</a>
            <a id="dropdown-logout">Logout</a>
            {{else}}
            <a id="dropdown-register" href="/register">Register</a>
            <a id="dropdown-login" href="/login">Login</a>
            {{/if}}
        </div>
    </div>
</nav>